body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background-color: #ffcc00;
    text-align: center;
    padding: 20px;
}

header img {
    width: 200px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #000;
}

main {
    padding: 20px;
}

h2 {
    color: #007bff;
}

.pokemon-list, .legendary-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pokemon-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    width: 150px;
}

.pokemon-card img {
    width: 100px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffcc00;
    position: relative;
    bottom: 0;
    width: 100%;
}

